@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #308d89;
  --background: #fafafa;
  --text: #1e1e1e;
  --sort-purple: #f3fffe;
  --gray: #b0b0c0;
  --accent: #ffdb61;
}

@layer components {
  .main-bg-color {
    background-color: var(--background);
  }
  .second-bg-color {
    background-color: var(--primary);
  }
  .accent-text-color {
    color: var(--accent);
  }
  .accent-bg-color {
    background-color: var(--accent);
  }
  .accent-border-color {
    border-color: var(--accent);
  }

  .main-text-color {
    color: var(--primary);
  }
  .second-text-color {
    color: var(--text);
  }
  .third-text-color {
    color: var(--background);
  }
  .gray-text-color {
    color: var(--gray);
  }

  .main-border-color {
    border-color: var(--primary);
  }
  .second-border-color {
    border-color: var(--background);
  }
  .soft-bg-purple {
    background-color: var(--sort-purple);
  }
  .purple-color-btn {
    background-color: var(--accent);
  }
  .purple-color-border {
    border-color: var(--accent);
  }

  .scrollbar-removed {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-removed::-webkit-scrollbar {
    display: none;
  }


  .banner-btn1{
    color: var(--text);
    background-color: var(--accent);
    border: 2px solid var(--accent);
    &:hover{
      background-color: #fff1c3;
    }
  }
  .banner-btn2{
    color: var(--text);
     background-color: #fff1c3;
    border: 2px solid var(--accent);
    &:hover{
     background-color: var(--accent);
    }
  }

  .btn1 {
    border: 2px solid #ebf8f8;
    background-color: #ebf8f8;
    color: var(--primary);
    &:hover {
      background-color: #ceedee;
      border: 2px solid #ceedee;
    }
  }

  .btn2 {
    background-color: var(--primary);
    color: var(--background);
    border: 2px solid var(--primary);
    &:hover {
    background-color: #1a9da3;
    border: 2px solid #1a9da3;
    }
  }
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
